{% extends "base.html" %}


{% block title %}
    Index
{% endblock title %}


{% block content %}

{% if articles %}
    {% for article in articles.items %}

        
        <div class="row my-3 p-3 bg-body rounded shadow-sm">
          <div class="col col-md-12">
            {% if article.article_image and article.article_image != 'default_article_image.jpg' %}
              <img src="{{ url_for('static', filename='images/articles_images/'+article.article_image) }}" alt="" class="img-responsive a_image" width="640px" height="360px">
            {% endif %}
          </div>
          <div class="col col-md-12">
            <div class="main-article-title">
              <a class="article_title" href="{{ url_for('full_article', article_id=article.id) }}">{{ article.article_title | safe }}</a>
            </div>
            <small class="article_date">[{{ article.date_created.strftime('%d-%m-%Y') }}]</small>
            <p class="main-article-partial-text">
              {{ article.article_body | truncate(255) | safe }}
            </p>
            <p class="">Από 
              <span>
                <a class="author-name" href="{{ url_for('articles_by_author', author_id=article.author.id) }}"> {{ article.author.username }}
                  <img class="rounded-circle profile-image" alt="{{ article.author.username }}" src="{{ url_for('static', filename='images/profiles_images/'+article.author.profile_image) }}" data-holder-rendered="true" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ article.author.username }}">
                </a>
              </span>
            </p>
          </div>
        </div>

        <hr>
        

    {% endfor %}


    {% for page_number in articles.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}

        {% if page_number %}

            {% if articles.page == page_number %}

                <a class="btn btn-primary" href="{{ url_for('root', page=page_number) }}">{{ page_number }}</a>

            {% else %}
                <a class="btn btn-outline-primary" href="{{ url_for('root', page=page_number) }}">{{ page_number }}</a>
            {% endif %}

        {% else %}
            <span>...</span>
        {% endif %}


    {% endfor %}


{% endif %}

{% endblock content %}


